<section class="relative bg-fixed bg-cover bg-center bg-no-repeat py-[15.8vh]" style="background-image: url('../../../assets/img/bg-4.jpg');">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row gap-3 items-center">

            <div class="w-full md:w-5/12 lg:w-1/3">
                <div class="overflow-hidden rounded-md shadow-md">
                    <img src="../../../assets/img/fa.jpg" alt="" class="rounded-md w-full">
                </div>
            </div>

            <div class="w-full md:w-7/12 lg:w-2/3">
                <div class="text-white">
                    <div class="mb-4 md:mb-8">
                        <p class="text-sm uppercase tracking-wide text-gray-300">See what’s new</p>
                        <h2 class="text-2xl md:text-3xl font-bold">{{track?.artist}} </h2>
                    </div>
                    <p class="mb-6 text-gray-300">
                        {{track?.description}}
                    </p>
                    <div class="space-y-4">
                        <div class="font-bold text-gray-200">
                            <p>{{track?.title}}</p>
                        </div>
                        <audio preload="auto" controls class="w-full md:w-96">
                            <source [src]="track?.audioUrl">
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
