<footer class="bg-gradient-to-r from-purple-100 via-purple-800 to-black py-10 px-10 font-sans tracking-wide">
    <div class="max-w-screen-xl mx-auto">
      <div class="flex flex-wrap items-center md:justify-between max-md:flex-col gap-6">
        <div>
          <a href='javascript:void(0)'><img src="../../../../assets/img/logoMusicStream.png" alt="logo" class='w-56 ' /></a>
        </div>

        <ul class="flex items-center justify-center flex-wrap gap-y-2 md:justify-end space-x-6">
          <li><a href="javascript:void(0)" class="text-gray-300 hover:underline text-base">Home</a></li>
          <li><a href="javascript:void(0)" class="text-gray-300 hover:underline text-base">Library</a></li>
        </ul>
      </div>

      <hr class="my-6 border-gray-500" />

      <p class='text-center text-gray-300 text-base'>© Akil SalahEddine. All rights reserved.</p>
    </div>
  </footer>